@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  height: 100%;
}

body { font-family: 'Roboto'; }

.b-row { height: 20px; }
.colLabel, .square {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.colLabel {
  border: 0.5px solid transparent;
  text-align: center;
}
.square {
  border: 0.5px solid #000;
}

.hit { background-color: red; }
.miss { background-color: blue; }